$light-grey: rgba(0,0,0,0.07);
$grey: rgba(0,0,0,0.5);
$medium-grey: rgba(0,0,0,0.25);
$text-grey: rgba(0,0,0,0.75);
$light-blue: #d0e2f2;
$blue: #428BCA;
$dark-blue: #25567C;
$yellow: #FBCA00;
$red: rgba(192, 34, 49, 1);